@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MicroSoftRegistration.Data; 
@model Student

<form method="post">
    <h3 class="centerAndBlue">Delete Student?</h3>

    <div>
        <label>First Name</label>
        <input type="text" value="@Model.FName" readonly="readonly" class="greyBG"/>
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" value="@Model.LName" readonly="readonly" class="greyBG"/>
    </div>

    <div>
        <label>Career Path</label>
        <input type="text" value="@Model.CareerPath" readonly="readonly" class="greyBG"/>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Delete">
    <a asp-controller="Student" asp-action="StudentInfo" class="btn btn-success" role="button">Go Back</a>

</form>

