@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MicroSoftRegistration.ViewModels
@model RegisterUserViewModel



<h3 class="centerAndBlue">Register</h3>

<form method="post">

    <div>
        <label asp-for="FName">First Name</label>
        <input asp-for="FName" type="text" />
        <span asp-validation-for="FName"></span>
    </div>


    <div>
        <label asp-for="LName">Last Name</label>
        <input asp-for="LName" type="text" />
        <span asp-validation-for="LName"></span>
    </div>

    <div>
        <label asp-for="CareerPath">Career Paths</label>
        <select asp-for="CareerPath" asp-items="Model.CareerPathList"></select>
        <span asp-validation-for="CareerPath"></span>
    </div>

    
      <input type="submit" class="btn btn-primary" value="Register">





</form>