@{
    ViewData["Title"] = "Home Page";
}

<div class="greyBG">
    <br />
    <br />
    <h1 id="centerTitle" class="display-4">Welcome to Microsoft CodeCamp</h1>
    <p id="center">Please select the button to register.</p>
    <br />
    <a asp-controller="User" asp-action="Register" class="btn btn-success" role="button" id="registerButton">Register</a>
    <br />
    <br />

</div>